{% extends '::base.html.twig' %}

{% block title 'Yay Twiggy!!' %}

{% block body %}
    {# Hallo comments! #}

    {% for i in  1..10 %}
        Hello <strong>{{ name|upper }}</strong> # {{ i }}!
    {% endfor %}

    <h2>Event Details</h2>
    {{ event.name }} <br>
    {{ event.location }} <br>

{% endblock %}
