{% extends '::base.html.twig' %}

{% block body %}
    <section class="main-block">
        <article>
            <section>
                <h1>Ah crap!</h1>

                <div>The servers are on fire!!!</div>
            </section>
        </article>

    </section>
{% endblock %}